<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>

      <span><%= user.mensaje %><%= user.name %></span><br>
      <span>Apellido: <%= user.apellido %></span><br>
      <span>edad: <%= user.edad %></span><br>
      <span>pais: <%= user.pais %></span><br>
      <span>celular: <%= user.celular %></span><br>
      <span>cedula: <%= user.cedula %></span><br>
      <span>email: <%= user.email %></span><br>
      <span>nombrecompleto: <%= user.nombreCompleto %></span><br>
      <span>iniciales: <%= user.iniciales %></span><br>
      <span>sexo: <%= user.sexo %></span><br>
</body>
</html>